@model NCKH_HRM.Areas.StudentArea.ViewModels.StudentScoreDetail

@{
    ViewData["Title"] = "ScoreDetail";
    Layout = "~/Areas/StudentArea/Views/Shared/_Layout.cshtml";
    var dateLearn = ViewBag.dateLearn;
}

<div class="container">
    <div class="mt-4 mb-5 border shadow rounded py-3">
        <div class="row text-center font-weight-bold py-2">
            <div class="col-2">Học kỳ</div>
            <div class="col-2">Chuyên cần</div>
            <div class="col-1">Kiểm tra 1</div>
            <div class="col-1">Điểm TP</div>
            <div class="col-1">Lần học</div>
            <div class="col-1">Lần thi</div>
            <div class="col-1">Điểm thi</div>
            <div class="col-1">TBCHP</div>
            <div class="col-2">Điểm chữ</div>
        </div>
        <div class="row text-center py-2">
            <div class="col-2">@Model.Semester</div>
            <div class="col-2">@(Math.Round((Model.AttendancePoint ?? 0.0) * 10, 1))</div>
            <div class="col-1">@Model.MidtermPoint</div>
            <div class="col-1">@Model.ComponentPoint</div>
            <div class="col-1">@Model.Relearn</div>
            <div class="col-1">@Model.NumberTest</div>
            <div class="col-1">@Model.TestScore</div>
            <div class="col-1">@Model.OverallScore</div>
            <div class="col-2">@(Model.OverallScore >= 9.0 ? "A" : (Model.OverallScore >= 8.0 ? "B" : (Model.OverallScore >= 7.0 ? "C" : (Model.OverallScore >= 5.0 ? "D" : "F"))))</div>
        </div>
    </div>

    <div class="border shadow rounded p-3">
        <div class="row">
            @for (int i = 0; i < dateLearn.Count; i++)
            {
                string statusText1 = "";
                string textColor1 = "";
                string bgColor1 = "";
                string statusText2 = "";
                string textColor2 = "";
                string bgColor2 = "";

                switch (Model.ListBeginClass[i])
                {
                    case 1:
                        statusText1 = "P";
                        break;
                    case 2:
                        statusText1 = "A";
                        textColor1 = "a-color";
                        bgColor1 = "text-white";
                        break;
                    case 3:
                        statusText1 = "PA";
                        break;
                    case 4:
                        statusText1 = "P-";
                        textColor1 = "bg-warning";
                        break;
                    default:
                        statusText1 = "";
                        break;
                }

                switch (Model.ListEndClass[i])
                {
                    case 1:
                        statusText2 = "P";
                        break;
                    case 2:
                        statusText2 = "A";
                        textColor2 = "a-color";
                        bgColor2 = "text-white";
                        break;
                    case 3:
                        statusText2 = "PA";
                        break;
                    case 4:
                        statusText2 = "P-";
                        textColor2 = "bg-warning";
                        break;
                    default:
                        statusText2 = "";
                        break;
                }
                <div class="col-1 my-3">
                    <div class="row text-center">
                        <strong>@dateLearn[i].DateLearn.ToString("dd/MM")</strong>
                        <div class="col-6">
                            <div><strong>DG</strong></div>
                            <div class="@textColor1 @bgColor1 p-1">@statusText1</div>
                        </div>
                        <div class="col-6">
                            <div><strong>CG</strong></div>
                            <div class="@textColor2 @bgColor2 p-1">@statusText2</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>