@model X.PagedList.IPagedList<NCKH_HRM.Models.DetailAttendance>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
    var Term = ViewBag.Term;
    var stt = 0;
}

<h1 class="py-3">Danh sách ngày học</h1>

<table class="table table-bordered table-hover bg-white">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Id ngày học
            </th>
            <th>
                Tên môn học
            </th>
            <th>
                Id điểm danh
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    stt ++;
        <tr>
            <th>
                @stt
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLearnNavigation.Id)
            </td>
            <td>
                @foreach (var itemTerm in Term)
                {
                    if (item.DetailTermNavigation.Id == itemTerm.Id)
                    {
                        @itemTerm.Name
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAttendanceNavigation.Id)
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new X.PagedList.Web.Common.PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})