@model X.PagedList.IPagedList<NCKH_HRM.Models.RegistStudent>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
    var stt = 0;
    var Term = ViewBag.Term;
}
<h1 class="py-3">Danh sách đăng ký học phần</h1>

<div class="form-inline d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i>Thêm mới</a>
</div>
<table class="table table-bordered table-hover bg-white">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Số lần học
            </th>
            <th>
                Trạng thái
            </th>

            <th>
                Tên học phần
            </th>
            <th>
                Tên sinh viên
            </th>
            <th>
                Hiển thị
            </th>

            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            stt++;
            <tr>
                <td>
                    @stt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Relearn)
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <span class="text-success">True</span>
                    }
                    else
                    {
                        <span class="text-danger">False</span>
                    }
                </td>
                <td>
                    @foreach (var itemTerm in Term)
                    {
                        if (item.DetailTermNavigation.Term == itemTerm.Id)
                        {
                            @itemTerm.Name
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentNavigation.Name)
                </td>
                <td>
                    @if (item.IsActive == true)
                    {
                        <span class="text-success">Active</span>
                    }
                    else
                    {
                        <span class="text-danger">Inactive</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-event"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-event"><i class="fa-solid fa-circle-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Bạn có chắc muốn xóa mục này không?');" class="btn btn-danger btn-event"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new X.PagedList.Web.Common.PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})